:root {
  --main-font: 'Raleway', sans-serif;
  --secondary-font: 'Roboto', sans-serif;
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --hidden-text-color: #ffffff;
  --visible-text-color: #000000;
  --overlay-text-color: rgba(255, 255, 255, 0.6);
  --accent-text-color: #2196f3;
  --accent-color: #2196f3;
  --accent-active-color: #188ce8;
  --portfolio-conteiner: #eeeeee;
  --first-bg-color: #2f303a;
  --second-bg-color: #f5f4fa;
  --hidden-bg-color: #ffffff;
  --primary-icon-color: #afb1b8;
  --overlay-icon-color: rgba(255, 255, 255, 0.1);
  --animation-hover: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__button, .subscribe__button, .portfolio__button, .modal-form__button {
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.list {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: var(--secondary-font);
  font-size: 14px;
  color: var(--primary-text-color);
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.container {
  max-width: 480px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.header {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ececec;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header {
    padding-top: 21px;
    padding-bottom: 21px;
  }
}

@media screen and (min-width: 1200px) {
  .header {
    padding-top: 24px;
    padding-bottom: 25px;
  }
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .header__container {
    display: none;
  }
}

.logo {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo--header {
  color: var(--visible-text-color);
}

.logo--primary {
  color: var(--accent-color);
}

.logo--footer {
  color: var(--hidden-text-color);
}

.nav {
  display: flex;
  align-items: center;
  height: 100%;
}

.nav__list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  box-sizing: content-box;
  height: 100%;
  margin-left: 88px;
  background-color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .nav__list {
    margin-left: 93px;
  }
}

.nav__item + .nav__item {
  margin-left: 50px;
}

.nav__link {
  display: flex;
  color: var(--title-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color var(--animation-hover);
  position: relative;
}

@media screen and (min-width: 1200px) {
  .nav__link {
    padding-top: 6px;
    padding-bottom: 6px;
  }
}

.nav__link:hover, .nav__link:focus {
  color: var(--accent-color);
}

.nav__link--current {
  color: var(--accent-color);
}

.nav__link--current:after {
  position: absolute;
  content: '';
  left: 0;
  bottom: -33px;
  display: block;
  width: 100%;
  height: 4px;
  background: var(--accent-color);
  border-radius: 2px;
}

@media screen and (min-width: 1200px) {
  .nav__link--current:after {
    bottom: -28px;
  }
}

.contacts {
  display: flex;
  margin-left: auto;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts {
    flex-direction: column;
    align-items: flex-start;
  }
}

@media screen and (min-width: 1200px) {
  .contacts {
    display: flex;
    margin-left: auto;
  }
}

.contacts__item {
  display: flex;
}

.contacts__item:hover .contacts__icon,
.contacts__item:focus .contacts__icon {
  fill: var(--accent-color);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts__item:last-child {
    padding-top: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__item + .contacts__item {
    margin-left: 30px;
  }
}

.contacts__link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-text-color);
  transition: color var(--animation-hover);
}

.contacts__link:hover, .contacts__link:focus {
  color: var(--accent-color);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts__link {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17px;
    letter-spacing: 0.02em;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__link {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    padding-top: 6px;
    padding-bottom: 6px;
  }
}

.contacts__icon {
  margin-right: 10px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  fill: var(--primary-text-color);
  cursor: pointer;
  transition: fill var(--animation-hover);
}

.menu-button {
  position: relative;
  display: block;
  max-width: 40px;
  max-height: 40px;
  background-color: transparent;
  border: transparent;
  outline: transparent;
  z-index: 99;
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-button__icon {
  width: 40px;
  height: 40px;
  transition: color var(--animation-hover);
}

.menu-button__icon:hover, .menu-button__icon:focus {
  fill: var(--accent-color);
}

.menu-button__icon-open {
  opacity: 1;
}

.menu-button__icon-close {
  opacity: 0;
}

.menu-button.is-active .menu-button__icon-open {
  opacity: 0;
}

.menu-button.is-active .menu-button__icon-close {
  opacity: 1;
}

.mobile-container {
  max-width: 480px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .mobile-container {
    display: none;
  }
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 500;
  background-color: var(--hidden-bg-color);
  transform: translateX(100%);
  visibility: hidden;
  pointer-events: none;
  transition: transform var(--animation-hover);
  overflow-y: scroll;
  z-index: 98;
}

.mobile-menu.is-open {
  transform: translateX(0);
  visibility: visible;
  pointer-events: initial;
}

.mobile-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mobile-menu__group {
  margin-top: auto;
}

.mobile-nav__ithem:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-nav__link {
  font-size: 40px;
  line-height: 1.78;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

.mobile-nav__link--current {
  color: var(--accent-color);
}

.mobile-contacts {
  margin-bottom: 64px;
}

.mobile-contacts__ithem:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-contacts__link--phone {
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--accent-text-color);
}

@media screen and (max-width: 479px) {
  .mobile-contacts__link--phone {
    font-size: 27px;
  }
}

.mobile-contacts__link--mail {
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.mobile-socials {
  display: flex;
  justify-content: flex-start;
}

@media screen and (max-width: 479px) {
  .mobile-socials {
    flex-wrap: wrap;
  }
}

.mobile-socials__ithem:not(:last-child) {
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mobile-socials__link {
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-text-color);
}

.hero {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
  background-color: var(--first-bg-color);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/st1/hero/hero_mb.jpg);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), -webkit-image-set(url(../images/st1/hero/hero_mb.webp) 1x);
}

@media screen and (min-device-pixel-ratio: 2), screen and (-moz-min-device-pixel-ratio: 2), screen and (-o-min-device-pixel-ratio: 2 / 1), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/st1/hero/hero_mb2x.jpg);
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), -webkit-image-set(url(../images/st1/hero/hero_mb2x.webp) 2x);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/st1/hero/hero_tb.jpg);
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), -webkit-image-set(url(../images/st1/hero/hero_tb.webp) 1x);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-moz-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-o-min-device-pixel-ratio: 2 / 1), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/st1/hero/hero_tb2x.jpg);
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), -webkit-image-set(url(../images/st1/hero/hero_tb2x.webp) 2x);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/st1/hero/hero_ds.jpg);
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), -webkit-image-set(url(../images/st1/hero/hero_ds.webp) 1x);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-moz-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-o-min-device-pixel-ratio: 2 / 1), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/st1/hero/hero_ds2x.jpg);
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), -webkit-image-set(url(../images/st1/hero/hero_ds2x.webp) 2x);
  }
}

.hero__title {
  display: block;
  max-width: 360px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--hidden-text-color);
}

@media screen and (min-width: 1200px) {
  .hero__title {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.32;
  }
}

/* button */
.hero__button {
  padding: 10px 32px;
  min-width: 200px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--hidden-text-color);
  background-color: var(--accent-color);
  transition: background-color var(--animation-hover);
}

.hero__button:hover, .hero__button:focus {
  background-color: var(--accent-active-color);
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .feature__list {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
    margin-bottom: -30px;
  }
}

@media screen and (min-width: 1200px) {
  .feature__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media screen and (max-width: 767.98px) {
  .feature__items {
    margin-bottom: 30px;
  }
  .feature__items:last-child {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .feature__items {
    width: calc(100% / 2 - 30px);
    margin-right: 30px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .feature__items {
    max-width: 270px;
    margin-right: 30px;
  }
  .feature__items:nth-child(4n) {
    margin-right: 0px;
  }
}

.badge {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 270px;
  min-height: 120px;
  margin-bottom: 30px;
  background: var(--second-bg-color);
  border-radius: 4px;
}

.feature__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}

@media screen and (max-width: 767.98px) {
  .feature__title {
    text-align: center;
  }
}

.feature__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.activity {
  padding-bottom: 94px;
}

@media screen and (max-width: 1199.98px) {
  .activity {
    display: none;
  }
}

.activity__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.activity__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.activity__list .activity__items + .activity__items {
  margin-left: 30px;
}

.activity__thumb {
  position: relative;
}

.activity__descr {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70px;
  position: absolute;
  left: 0;
  bottom: 0;
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--hidden-text-color);
  background: rgba(47, 48, 58, 0.8);
}

.team {
  background-color: var(--second-bg-color);
}

.team__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

@media screen and (min-width: 1200px) {
  .team__title {
    font-size: 36px;
    line-height: 1.17;
  }
}

@media screen and (min-width: 768px) {
  .team__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-right: -30px;
    margin-bottom: -30px;
  }
}

.team__items {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (max-width: 767.98px) {
  .team__items {
    margin-bottom: 30px;
  }
  .team__items:last-child {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .team__items {
    width: calc(100% / 2 - 30px);
    margin-right: 30px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team__items {
    width: calc(100% / 4 - 30px);
    margin-right: 30px;
    margin-bottom: 30px;
  }
}

.team__sign {
  padding-bottom: 30px;
  padding-top: 30px;
}

.team__subject {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.team__text {
  margin-top: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.team__media {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.team__item {
  border-radius: 50%;
  transition: background-color var(--animation-hover);
}

.team__item:not(:last-child) {
  margin-right: 10px;
}

.team__item:hover, .team__item:focus {
  background-color: var(--accent-color);
}

.team__item:hover .team__link,
.team__item:focus .team__link {
  fill: var(--hidden-text-color);
}

.team__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  fill: var(--primary-icon-color);
  transition: fill var(--animation-hover);
}

.customers__title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

@media screen and (min-width: 1200px) {
  .customers__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
  }
}

@media screen and (max-width: 767.98px) {
  .customers__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: -30px;
    margin-left: -30px;
  }
}

@media screen and (min-width: 768px) {
  .customers__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-right: -30px;
    margin-bottom: -30px;
  }
}

@media screen and (min-width: 1200px) {
  .customers__list {
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }
}

.customers__items {
  border: 1px solid var(--primary-icon-color);
  border-radius: 4px;
  height: 92px;
  transition: border var(--animation-hover);
}

.customers__items:hover .customers__link,
.customers__items:focus .customers__link {
  fill: var(--accent-color);
}

.customers__items:hover, .customers__items:focus {
  border: 1px solid var(--accent-color);
}

@media screen and (max-width: 767.98px) {
  .customers__items {
    width: calc(100% / 2 - 30px);
    margin-top: 30px;
    margin-left: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .customers__items {
    width: calc(100% / 3 - 30px);
    margin-right: 30px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .customers__items {
    min-width: 170px;
  }
  .customers__items:not(:last-child) {
    margin-right: 30px;
  }
}

.customers__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  fill: var(--primary-icon-color);
  transition: fill var(--animation-hover);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--first-bg-color);
}

@media screen and (max-width: 767.98px) {
  .footer__container {
    text-align: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .footer__container {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer__container {
    display: flex;
    align-items: baseline;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .footer__tablet {
    display: flex;
    align-items: baseline;
  }
}

@media screen and (min-width: 1200px) {
  .footer__tablet {
    display: flex;
    align-items: baseline;
  }
}

@media screen and (max-width: 767.98px) {
  .footer__address {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .footer__address {
    margin-left: 61px;
    margin-right: 165px;
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer__address {
    list-style: none;
    margin-right: 70px;
  }
}

@media screen and (max-width: 767.98px) {
  .footer__socials {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__socials {
    list-style: none;
    margin-right: 93px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .footer__subscribe {
    display: block;
    text-align: center;
    margin-top: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__subscribe {
    margin-right: 0;
  }
}

.address__list {
  margin-top: 20px;
}

.address__link {
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--hidden-text-color);
}

.address__item:nth-child(n + 2) {
  margin-top: 9px;
}

.address__link--contact {
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--overlay-text-color);
  transition: color var(--animation-hover);
}

.address__link--contact:hover, .address__link--contact:focus {
  color: var(--hidden-text-color);
}

.socials__title {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--hidden-text-color);
}

.socials__media {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.socials__item {
  border-radius: 50%;
  background: var(--overlay-icon-color);
  transition: background-color var(--animation-hover);
}

.socials__item:not(:last-child) {
  margin-right: 10px;
}

.socials__item:hover, .socials__item:focus {
  background-color: var(--accent-color);
}

.socials__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  fill: var(--hidden-text-color);
}

.subscribe__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--hidden-text-color);
  margin-bottom: 20px;
}

.subscribe__email {
  font-style: normal;
  font-size: 16px;
  line-height: 1.25;
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  max-width: 358px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  background-color: var(--first-bg-color);
  cursor: pointer;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe__email:focus {
  outline: transparent;
  background: transparent;
}

@media screen and (max-width: 767.98px) {
  .subscribe__email {
    margin-bottom: 20px;
    width: 100%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .subscribe__email {
    display: block;
    width: 450px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe__email {
    margin-right: 12px;
    width: 358px;
  }
}

.subscribe__button {
  position: relative;
  min-width: 200px;
  text-align: left;
  padding-right: 28px;
  padding-left: 29px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;
  color: var(--hidden-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color var(--animation-hover);
}

.subscribe__button:hover, .subscribe__button:focus {
  background-color: var(--accent-active-color);
}

.subscribe__icon {
  position: absolute;
  bottom: 13px;
  right: 28px;
  width: 24px;
  height: 24px;
}

.portfolio__select {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 767.98px) {
  .portfolio__select {
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 767.98px) {
  .portfolio__btns {
    margin-bottom: 15px;
  }
}

.portfolio__btns:not(:last-child) {
  margin-right: 8px;
}

.portfolio__button {
  padding: 6px 22px;
  min-width: 73px;
  font-weight: 500;
  line-height: 1, 62;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  background-color: var(--second-bg-color);
  transition: color var(--animation-hover), background-color var(--animation-hover), box-shadow var(--animation-hover);
}

.portfolio__button:focus, .portfolio__button:hover {
  background-color: var(--accent-color);
  color: var(--hidden-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio__list {
  margin-top: 50px;
}

@media screen and (min-width: 768px) {
  .portfolio__list {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
    margin-bottom: -30px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio__list {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 767.98px) {
  .portfolio__items:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .portfolio__items {
    width: calc(100% / 2 - 30px);
    margin-right: 30px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio__items {
    max-width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .portfolio__items:nth-child(3n) {
    margin-right: 0;
  }
  .portfolio__items:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
}

.portfolio__link {
  display: block;
  position: relative;
  transition: box-shadow var(--animation-hover);
}

.portfolio__link:hover, .portfolio__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__link:hover .portfolio__descr,
.portfolio__link:focus .portfolio__descr {
  transform: translateY(0);
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .portfolio__link {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}

.portfolio__thumb {
  position: relative;
  overflow: hidden;
}

.portfolio__descr {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 24px;
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--hidden-text-color);
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform var(--animation-hover);
}

@media screen and (max-width: 479.8px) {
  .portfolio__descr {
    font-size: 15px;
  }
}

.portfolio__conteiner {
  padding: 20px 24px;
  border-left: 1px solid var(--portfolio-conteiner);
  border-right: 1px solid var(--portfolio-conteiner);
  border-bottom: 1px solid var(--portfolio-conteiner);
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .portfolio__conteiner {
    flex-grow: 1;
  }
}

.portfolio__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.portfolio__text {
  margin-top: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.86;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
  transition: opacity var(--animation-hover), visibility var(--animation-hover);
  overflow-y: scroll;
  z-index: 100;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100vw;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: var(--hidden-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

@media screen and (min-width: 480px) and (max-width: 1199px) {
  .modal {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}

.modal__button {
  display: flex;
  align-items: center;
  position: fixed;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  border-radius: 50%;
  background-color: var(--hidden-text-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.modal__icon {
  transform: fill var(--animation-hover);
}

.modal__icon:hover, .modal__icon:focus {
  fill: var(--accent-color);
}

.modal-form__button {
  display: block;
  padding: 10px 55px 10px 56px;
  margin-left: auto;
  margin-right: auto;
  color: var(--hidden-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: transparent;
  transition: background-color var(--animation-hover);
}

.modal-form__button:hover {
  background-color: var(--accent-active-color);
}

.modal-form__button:focus {
  background-color: var(--accent-active-color);
  outline: transparent;
}

.checkbox {
  position: relative;
  display: block;
  margin-top: 20px;
  margin-bottom: 30px;
  text-align: right;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

@media screen and (max-width: 479.98px) {
  .checkbox {
    padding-left: 18px;
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .checkbox {
    font-size: 14px;
    line-height: 1.71;
    padding-right: 11px;
    padding-left: 12px;
  }
}

.checkbox__input {
  position: relative;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox__input:checked + .checkbox__border {
  opacity: 0;
}

.checkbox__input:checked ~ .checkbox__icon {
  opacity: 1;
}

.checkbox__border {
  position: absolute;
  width: 16px;
  height: 15px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 2px;
  background-color: var(--hidden-text-color);
  border: 2px solid var(--title-text-color);
  transition: opacity var(--animation-hover);
  opacity: 1;
}

@media screen and (min-width: 1200px) {
  .checkbox__border {
    left: 12px;
  }
}

.checkbox__icon {
  position: absolute;
  width: 16px;
  height: 15px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 2px;
  background-color: var(--accent-color);
  fill: var(--hidden-text-color);
  transition: opacity var(--animation-hover);
  opacity: 0;
}

@media screen and (min-width: 1200px) {
  .checkbox__icon {
    left: 12px;
  }
}

.checkbox__link {
  text-decoration-line: underline;
  color: var(--accent-color);
}

.modal-form__title {
  font-size: 20px;
  text-align: center;
  letter-spacing: 0.03em;
  line-height: 1.5;
  margin-bottom: 12px;
  color: var(--title-text-color);
}

@media screen and (min-width: 1200px) {
  .modal-form__title {
    line-height: 1.15;
  }
}

.modal-form__label {
  position: relative;
  display: flex;
  flex-direction: column;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  margin-bottom: 10px;
  color: var(--primary-text-color);
}

.modal-form__label:nth-child(5) {
  margin-bottom: 0;
}

.modal-form__input {
  position: relative;
  margin-top: 4px;
  height: 40px;
  padding: 12px 0 12px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  transition: border var(--animation-hover);
}

.modal-form__input:focus {
  outline: transparent;
  border: 1px solid #2196f3;
}

.modal-form__input:focus + .modal-form__icon {
  fill: var(--accent-color);
  transition: fill var(--animation-hover);
}

.modal-form__icon {
  position: absolute;
  bottom: 11px;
  left: 12px;
  width: 18px;
  height: 18px;
}

.modal-form__comment {
  height: 120px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  padding: 12px 16px;
  margin-top: 4px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  transition: border var(--animation-hover);
}

.modal-form__comment::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__comment:focus {
  outline: transparent;
  border: 1px solid #2196f3;
}
/*# sourceMappingURL=main.css.map */