.portfolio__select {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;

  @include mq(mobile-only) {
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 40px;
  }
}

.portfolio__btns {
  @include mq(mobile-only) {
    margin-bottom: 15px;
  }
}

.portfolio__btns:not(:last-child) {
  margin-right: 8px;
}
