.portfolio-list {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
}

.portfolio-items {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;

  &:nth-child(3n) {
    margin-right: 0;
  }

  &:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
}

.portfolio-link {
  display: block;
  position: relative;
  transition: box-shadow var(--animation-hover);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  &:hover .portfolio-descr,
  &:focus .portfolio-descr {
    transform: translateY(0);
  }
}

.portfolio-thumb {
  position: relative;
  overflow: hidden;
}

.portfolio-descr {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 24px;
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--hidden-text-color);
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform var(--animation-hover);
}

.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.portfolio-text {
  margin-top: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.86;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.portfolio-conteiner {
  padding: 20px 24px;
  border-left: 1px solid var(--portfolio-conteiner);
  border-right: 1px solid var(--portfolio-conteiner);
  border-bottom: 1px solid var(--portfolio-conteiner);
}
