.activity {
    padding-bottom: 94px;
}

.activity-title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}

.activity-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.activity-list .activity-items+.activity-items {
    margin-left: 30px;
}

.activity-thumb {
    position: relative;
}

.activity-descr {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70px;
    position: absolute;
    left: 0;
    bottom: 0;
    font-family: var(--secondary-font);
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--hidden-text-color);
    background: rgba(47, 48, 58, 0.8);
}