.feature-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.feature-items {
    width: 270px;
    margin-right: 30px;

    &:nth-child(4n) {
        margin-right: 0px;
    }
}



.feature-items .badge {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 270px;
    min-height: 120px;
    margin-bottom: 30px;
    background: var(--second-bg-color);
    border-radius: 4px;
}

.feature-title {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-text-color);
}

 .feature-text {
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
}