.team {
  background-color: var(--second-bg-color);
}

.team__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);

  @include mq(desktop) {
    font-size: 36px;
    line-height: 1.17;
  }
}

.team__list {
  @include mq(tablet) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: -30px;
    margin-left: -30px;
  }
}

.team__items {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  @include mq(mobile-only) {
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  @include mq(tablet-only) {
    width: calc(100% / 2 - 30px);
    margin-top: 30px;
    margin-left: 30px;
  }

  @include mq(desktop) {
    width: calc(100% / 4 - 30px);
    margin-right: 30px;
    margin-bottom: 30px;
  }
}

.team__sign {
  padding-bottom: 30px;
  padding-top: 30px;
}

.team__subject {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.team__text {
  margin-top: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.team__media {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.team__item {
  border-radius: 50%;
  transition: background-color var(--animation-hover);

  &:not(:last-child) {
    margin-right: 10px;
  }

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }

  &:hover .team__link,
  &:focus .team__link {
    fill: var(--hidden-text-color);
  }
}

.team__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  fill: var(--primary-icon-color);
  transition: fill var(--animation-hover);
}
