.team {
  background-color: var(--second-bg-color);
}

.team-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.team-items {
  margin-right: 30px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  &:nth-child(4n) {
    margin-right: 0px;
  }
}

.team-sign {
  padding-bottom: 30px;
  padding-top: 30px;
}

.team-subject {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.team-text {
  margin-top: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-media {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.team-item {
  border-radius: 50%;
  transition: background-color var(--animation-hover);

  &:not(:last-child) {
    margin-right: 10px;
  }

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }

  &:hover .team-link,
  &:focus .team-link {
    fill: var(--hidden-text-color);
  }
}

.team-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  fill: var(--primary-icon-color);
  transition: fill var(--animation-hover);
}
