.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--first-bg-color);
}


.footer .container {
    display: flex;
    align-items: baseline;
}
.container .footer-list:first-child {
    list-style: none;
    margin-right: 70px;
}

.container .footer-list:nth-child(2) {
    list-style: none;
    margin-right: 93px;
}

.container .footer-list:last-child {
    margin-right: 0;
}