@import './reset';

img {
  display: block;
  max-width: 100%;
  height: auto;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
}

body {
  font-family: var(--secondary-font);
  font-size: 14px;
  color: var(--primary-text-color);
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
