@import './reset';

img {
  display: block;
  max-width: 100%;
  height: auto;

  @include mq(mobile-only) {
    display: flex;
    flex-wrap: wrap;
  }
}

body {
  font-family: var(--secondary-font);
  font-size: 14px;
  color: var(--primary-text-color);
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;

  @include mq(desktop) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
