:root {
    --main-font: 'Raleway', sans-serif;
    --secondary-font: 'Roboto', sans-serif;

    --primary-text-color: #757575;
    --title-text-color: #212121;
    --hidden-text-color: #ffffff;
    --visible-text-color: #000000;
    --overlay-text-color: rgba(255, 255, 255, 0.6);

    --accent-color: #2196f3;
    --accent-active-color: #188ce8;
    --portfoli-conteiner: #eeeeee;

    --first-bg-color: #2f303a;
    --second-bg-color: #f5f4fa;

    --primary-icon-color: #afb1b8;
    --overlay-icon-color: rgba(255, 255, 255, 0.1);

    --animation-hover: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}