.modal-button {
  display: flex;
  align-items: center;
  position: fixed;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  border-radius: 50%;
  background-color: var(--hidden-text-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.modal-button-icon {
  transform: fill var(--animation-hover);

  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}

.submit-button {
  @extend %button;
  display: block;
  padding: 10px 55px 10px 56px;
  margin-left: auto;
  margin-right: auto;
  color: var(--hidden-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: transparent;
  transition: background-color var(--animation-hover);

  &:hover {
    background-color: var(--accent-active-color);
  }

  &:focus {
    background-color: var(--accent-active-color);
    outline: transparent;
  }
}