.modal-button {
  display: flex;
  align-items: center;
  position: fixed;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  border-radius: 50%;
  background-color: var(--hidden-text-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.modal-button__icon {
  transform: fill var(--animation-hover);

  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}